@{
    Layout = "~/Views/Shared/_LayoutForms.cshtml";
    //Layout = null;
}


@using Biskfarm.DAL.Model
@model List<RDS_Demo>

<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Equipment List</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">


                <div class="card">
                
                    <table id="example">
                        <thead>
                            <tr>
                                <th>ToCheck</th>
                                <th>Eaxmple</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="toCheck" />
                                </td>
                                <td>
                                    <input type="text" name="Eaxmple" />
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <button type="button" id="btnSave" class="btn btn-primary waves-effect waves-light mr-1">
                        Submit
                    </button>
                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Equipment List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="outSales" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Equipment Name</th>
                                    <th>Equipment Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mdl in Model)
                                {
                                    <tr>
                                        <td width="50%">@mdl.equipmentName</td>
                                        <td width="50%">@mdl.equipmentQty</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Equipment Name</th>
                                    <th>Equipment Quantity</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>

        </div>
        <!-- /.container-fluid -->
</section>


@section Scripts {
    <script>

        $("#btnSave").click(function () {

            var distributorData = [];
            $('#example > tbody  > tr').each(function (ind, val) {

                if (ind > 0) {

                    var distributors =
                    {

                        "toCheck": $(val).find("input[name='toCheck']").val(),
                        "Eaxmple": $(val).find("input[name='Eaxmple']").val(),
                    };
                    distributorData.push(distributors);
                }


            });


            console.log(distributorData);
            var data= JSON.stringify(distributorData);
            $.ajax({
                type: "POST",
                url: "/Equipment/Create",
                contentType: 'application/json; charset=utf-8',
                //data: $("#materialForm").serialize() + "&distributorsList=" + distributorData + "&subStockistList=" + subStockistData +"&authorization=" + authorizationData
                data: {cst:data},
            })
                .done(function (response) {
                    $("#createContainer").html("");
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("fail");
                });


            

        })



        $(function () {
            $("#outSales").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#outSales_wrapper .col-md-6:eq(0)');
        });
    </script>
}